<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgNr8FEted_zoOC3swc2-XG6fGL-x6D34</string>
	<key>GCM_SENDER_ID</key>
	<string>988127518262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gu.isdp.savy.CareNote</string>
	<key>PROJECT_ID</key>
	<string>carenote-3f46b</string>
	<key>STORAGE_BUCKET</key>
	<string>carenote-3f46b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988127518262:ios:ced55d599d82db5fb98297</string>
	<key>DATABASE_URL</key>
	<string>https://carenote-3f46b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>